/* global */

* {
    font-size: 16px;
}

.container {
    display: block;
    margin: 0 auto;
    max-width: 1000px;
    width: 80%;
}

p, pre {
    line-height: 12px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 16px 0;
}

.heading1 {
    font-size: 3rem;
    margin: 10px 0;
}

.heading2 {
    font-size: 2.5rem;
    margin: 8px 0;
}

.heading3 {
    font-size: 2rem;
    margin: 6px 0;
}

.heading4 {
    font-size: 1.5rem;
    margin: 4px 0;
}

code {
    font-size: 14px;
    font-family: "Fira Code", meslo, monaco, "Cascadia Code", consolas, monospace;
}

table {
    margin-top: 16px;
}

table, thead, tbody, tr, th, td {
    border: 1px solid lightgrey;
    border-collapse: collapse;
    padding: 10px 20px;
}

tr {
    text-align: left;
}

/* member items */

.member-item-container,
.method-item-container {
    margin-bottom: 2rem;
}

.member-declare-container,
.method-signature-container {
    background: lightgray;
    padding: 10px;
}

.member-uproperty,
.method-ufunction {
    font-weight: 1000;
}

.member-desc-container,
.method-desc-container {
}

.member-desc,
.method-desc {
}


